
.vs/CalculatorApi/FileContentIndex/2693538a-584e-4046-a6a2-b40901ab7536.vsidx
.vs/CalculatorApi/FileContentIndex/2b83aa71-e7d3-4aa9-8fbb-1419acde539c.vsidx
.vs/CalculatorApi/FileContentIndex/393cb580-bf0b-49ef-bcd7-7221d8a73c35.vsidx
.vs/CalculatorApi/FileContentIndex/7b2fb737-a0b8-4078-bbb1-876cb2617e4e.vsidx
.vs/CalculatorApi/FileContentIndex/d232ae1a-0232-4e3b-829f-7fa4d981bcad.vsidx
.vs/CalculatorApi/FileContentIndex/d9affaed-405e-41a3-8ecc-db191ddeaa08.vsidx
.vs/CalculatorApi/v17/.suo
CalculatorApi/obj/Debug/net6.0/CalculatorApi.csproj.AssemblyReference.cache
.vs/CalculatorApi/FileContentIndex/2b83aa71-e7d3-4aa9-8fbb-1419acde539c.vsidx
.vs/CalculatorApi/FileContentIndex/393cb580-bf0b-49ef-bcd7-7221d8a73c35.vsidx
.vs/CalculatorApi/FileContentIndex/7b2fb737-a0b8-4078-bbb1-876cb2617e4e.vsidx
.vs/CalculatorApi/v17/.suo
CalculatorApi/obj/Debug/net6.0/CalculatorApi.csproj.AssemblyReference.cache
.vs/CalculatorApi/DesignTimeBuild/.dtbcache.v2
.vs/CalculatorApi/FileContentIndex/2b83aa71-e7d3-4aa9-8fbb-1419acde539c.vsidx
.vs/CalculatorApi/FileContentIndex/393cb580-bf0b-49ef-bcd7-7221d8a73c35.vsidx
.vs/CalculatorApi/FileContentIndex/7b2fb737-a0b8-4078-bbb1-876cb2617e4e.vsidx
.vs/CalculatorApi/v17/.futdcache.v2
.vs/CalculatorApi/v17/.suo
.vs/ProjectEvaluation/calculatorapi.metadata.v5.1
.vs/ProjectEvaluation/calculatorapi.projects.v5.1
CalculatorApi/obj/Debug/net6.0/CalculatorApi.csproj.AssemblyReference.cache
.vs/
.vs
